.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f0e0cc;

  &_login-container {
    display: flex;
    gap: 1rem;

    &-button {
      transition: all 0.3s;

      @media only screen and (min-width: 56.25em),
        only screen and (hover: active) {
        &:hover {
          transform: translateY(-0.2rem);
        }

        &:active {
          transform: translateY(-0.1rem);
        }
      }

      &:first-child {
        background-color: transparent;
      }

      &:last-child {
        background-color: #ff922b;
      }
    }
  }

  &_logo {
    display: inline-block;
    background-image: linear-gradient(
      to right bottom,
      rgba(128, 0, 128, 0.2),
      rgba(128, 0, 128, 0.6)
    );
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.2rem;

    transform: skewX(-10deg);
    color: black;

    &_text,
    &_text-decorate {
      background-color: rgba(255, 146, 43, 0.95);
      padding: 0.2rem 0.3rem;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    &_text {
      background-color: rgba(255, 146, 43, 0.85);
    }
  }
}
