.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 224, 204, 0.5);

  &-input {
    width: 80%;
    border: none;
    border-bottom: 0.1rem solid black;
    padding: 0.2rem 0.6rem;
    background-color: transparent;
    margin: 0.5rem;
  }

  &_search {
    flex: 1;
    width: 100%;
    padding: 0rem 1rem;
  }

  &_list-container {
    width: 100%;
    padding: 1.1rem 1rem;

    &_list {
      display: flex;
      list-style: none;
      gap: 1rem;

      &-item {
        flex: 1;
        border-radius: 0.2rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &_link {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #f0e0cc;
          border-radius: 0.5rem;

          &-category {
            font-size: 1rem;
            font-weight: bolder;
            color: #212529;
          }

          &-background {
            height: 5rem;
            width: 100%;
            object-fit: cover;
            border-radius: 0.1rem;
          }

          &-difficulty {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

// general-container_list-container_list-item_container-difficulty
