.general-container {
  display: flex;
  flex-direction: column;

  &_search {
    flex: 1;
  }
  &_list-container {
    padding: 1.1rem 1rem;
    background-color: rgba(240, 224, 204, 0.5);
    &_list {
      display: flex;
      list-style: none;
      gap: 1rem;

      &-item {
        flex: 1;
        border-radius: 0.2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 4rem;
        overflow: hidden;
        position: relative;

        &_background {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &_link {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(1.4rem);

          &_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-category {
              font-size: 1rem;
              font-weight: bolder;
              color: #212529;
              text-shadow: white 0.1rem 0 0.5rem;
            }

            &-difficulty {
              position: absolute;
              top: 60%;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}

// general-container_list-container_list-item_container-difficulty
