.general-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 224, 204, 0.5);
  position: relative;

  &_selecting-container {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 1rem;

    &_loc {
      overflow-y: auto;
      position: absolute;
      background-color: #f9f1e6;
      padding: 0rem 1rem;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
      display: none;

      &-item {
        margin-bottom: 1rem;
        border-radius: 0.4rem;
        padding: 1rem;
        place-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: none;

        animation: Slide 1s forwards;

        &-category {
          user-select: none;
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }

    &_select-bar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-checkbox {
        display: none;
      }

      &-checkbox:checked ~ &-label {
        animation-name: rotateToDown;
        animation-duration: 0.4s;
        transform: rotate(-180deg);
      }

      &-label {
        display: grid;
        place-items: center;
        transition: all 0.3s;
      }

      &-select-text {
        font-size: 1.2rem;
      }

      &-show-icon {
        font-size: 2.2rem;
        transform: rotate(180deg);
      }
    }
  }

  &_search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 0rem 1rem;
    position: relative;

    &-item {
      flex: 1;

      &:first-child {
        margin-top: 0.1rem;
      }

      &_link {
        display: grid;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content;
        width: 100%;
        height: 100%;
        transition: all 0.3s;

        &:hover {
          transform: scale(0.97);
        }

        &-background {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          grid-column: 1/-1;
        }

        &-category,
        &-difficult {
          text-align: center;
          font-size: 1rem;
          background-color: #c3b9ad;
          font-weight: 600;
          text-transform: uppercase;
          transition: all 0.3s;
          &:hover {
            background-color: #b2a89c;
          }
        }
        &-category {
          border-radius: 0rem 0rem 20rem 80rem;
        }
        &-difficult {
          border-radius: 0rem 0rem 80rem 20rem;
        }
      }
    }
  }

  &_list-container {
    padding: 1.1rem 1rem;
    flex: 0.35;

    &_list {
      display: flex;
      list-style: none;
      gap: 1rem;
      height: 100%;
      width: 100%;

      &-item {
        flex: 1;
        border-radius: 0.2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.8rem;

        &_link {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #f0e0cc;
          height: 100%;

          &-category {
            font-size: 0.8rem;
            font-weight: bolder;
            padding: 0.2rem;
            text-transform: uppercase;
          }

          &-background {
            background-image: url("/random.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex: 1;
            width: 100%;
            object-fit: fill;
            border-radius: 0.1rem;
          }

          &-difficulty {
            padding: 0.1rem;

            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.isVisibleContainer {
  display: block;
}

.isVisible {
  opacity: 0;
  display: grid;
}

@keyframes rotateToDown {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-200deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes Slide {
  0% {
    opacity: 0;

    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
