.my-quizzes-info {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  gap: 1rem;

  &--backdrop-filter {
    height: 80%;
    width: 80%;
    backdrop-filter: blur(0.2rem);
  }

  &_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    align-items: center;

    box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.2rem 0.8rem 0rem;
    background-color: rgba(240, 224, 204, 0.1);
    height: 80%;
    width: 80%;
    border-radius: 0.1rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &_info-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &-link {
        border-radius: 0%;
        background-color: transparent;
        border: 0.1rem solid black;
        font-size: 1.2rem;
        &:hover {
          background-color: #e3e3e3a1;
        }
      }

      &_unfinished-container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        &-cur-question {
          font-size: 4.2rem;
          position: relative;
          &-span {
            font-size: 0.8rem;
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &-on {
          font-size: 1.8rem;
        }
        &-total-questions {
          font-size: 2.4rem;
        }
      }
    }

    &-status {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      font-weight: bolder;
      font-size: 2rem;
      background-image: linear-gradient(#161616, #4f4f4f);
      background-clip: text;
      color: transparent;
    }

    &-link {
      position: absolute;
      font-size: 1.6rem;
      top: 0.5rem;
      left: 0.5rem;
    }

    &_core-info-container {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &-category {
        font-size: 1rem;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }

      &-difficulty {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
