.quiz-previe-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;

  position: relative;

  &-link-to-myquizzes {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    font-size: 0.8rem;
    border-bottom: 0.1rem solid black;
    padding-bottom: 0.2rem;
    transition: all 0.3s;

    &:hover {
      border-bottom: 0.1rem solid transparent;
      & svg {
        transform: translateX(0.1rem);
      }
    }

    & svg {
      font-size: 1.2rem;
      transition: all 0.3s;
    }
  }

  &--backdrop-filter {
    height: 80%;
    width: 85%;
    backdrop-filter: blur(0.5rem);
  }

  &_content {
    height: 80%;
    width: 85%;
    border-radius: 1rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(240, 224, 204, 0.3),
      rgba(240, 219, 193, 0.6)
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    &_button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    &-category {
      font-size: 2.8rem;
      letter-spacing: 0.12rem;
      text-transform: uppercase;
      font-weight: 800;
    }

    &-list {
      list-style: none;
      display: flex;
      align-self: flex-start;
      flex-direction: column;
      gap: 0.2rem;
      &-item {
        display: flex;
        align-items: center;

        &-icon {
          fill: #7d3d00e3;
          font-size: 3.2rem;
        }

        &-prop {
          font-size: 1rem;
          font-weight: 600;
          text-transform: capitalize;
        }

        &-param {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-left: 0.4rem;
        }
      }
    }

    &-button {
      padding: 0.4rem 1rem;
      font-size: 1.6rem;
      background-image: linear-gradient(to bottom, rgb(255, 176, 30), #ff922b);
    }
  }
}

.disable--btn {
  filter: grayscale(100%);
}
