.quiz_container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    to right bottom,
    rgba(237, 242, 255, 1),
    rgba(219, 228, 255, 1)
  );
  position: relative;

  &_quiz-summary {
    position: absolute;
    padding: 1rem;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2)
    );
    border-radius: 0.4rem;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &_questions-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1.8rem, 1fr));
      row-gap: 0.8rem;
      column-gap: 0.4rem;
      margin-bottom: 1.5rem;

      &_item {
        border-radius: 0.2rem;
        padding: 0.4rem 0rem;
        background-color: #ff922b;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      background-color: transparent;
      border: 0.1rem solid black;
      font-size: 1.2rem;
      transition: all 0.2s;
    }

    &-points {
      font-size: 4.2rem;
      text-align: center;
    }

    &_avg-time-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;

      &-icon {
        font-size: 2.2rem;
      }

      &_avg-time-line-container {
        height: 0.5rem;
        border-radius: 100rem;
        background-image: linear-gradient(
          to right bottom,
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.2)
        );
        border: 0.1rem solid #333333;
        flex: 1;

        &-line {
          height: 100%;
          position: relative;

          &-text {
            position: absolute;
            right: 0;
            top: -200%;
            transform: translate(50%, -50%);
          }

          &-avg {
            width: max-content;
            position: absolute;
            font-weight: bolder;
            font-size: 0.6rem;
            right: 0;
            bottom: -300%;
            transform: translate(50%, 60%);
          }
        }
      }

      &-time-to-answer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        &-number {
          font-size: 1.2rem;
        }
      }
    }

    &--backdrop-filter {
      width: 90%;
      flex: 0 0 90%;
      backdrop-filter: blur(0.2rem);
    }
  }

  &_single-quiz {
    // height: minmax(90%, 100%);
    width: 90%;
    background-color: rgb(247, 236, 223);
    padding: 0.5rem;
    border: 0.1rem solid rgb(240, 224, 204, 1);
    border-radius: 0.5rem;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_info-box {
      & span {
        font-weight: bold;
        font-size: 0.7rem;
      }
    }

    &_question-box {
      background-color: white;
      padding: 1rem;
      border: 0.1rem solid rgb(240, 224, 204);
      border-radius: 0.2rem;
      display: grid;
      place-items: center;

      &--question {
        text-align: center;

        font-weight: bold;
        animation: appearQuiz 1s;
        user-select: none;
        backface-visibility: hidden;
      }
    }

    &_answers-box {
      width: 100%;
      display: flex;
      // display: grid;
      flex-direction: column;
      // grid-template-columns: repeat(auto-fit, 1fr);
      gap: 0.5rem;
      // row-gap: 0.5rem;
      // column-gap: 1rem;

      &-btn {
        padding: 0.6rem 0.5rem;
        font-weight: bold;
        font-size: 0.8rem;
        width: 100%;
        height: 100%;
        animation: appearQuiz 1s;
        backface-visibility: hidden;
        overflow-wrap: break-word;

        background-image: linear-gradient(#ff922b, #ff8d21);
        user-select: none;
        text-align: center;
      }
    }
  }
}

.timer-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 0.3rem;
  // animation: timerAnimation 31s;
  // background-color: black;
  transition: all 1s;
  // backface-visibility: hidden;
}

@keyframes timerAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes appearQuiz {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
