*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100svh;
  font-family: sans-serif;
  color: #212529;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
